<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.0" targetFramework="net45" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net452" />
  <package id="WpfControls" version="1.0.0.8" targetFramework="net45" />
</packages>